<!-- Quiz A -->
	<section name="quizA question1" class="quizA">
		<div class="QA_container">
			<h1><a href="#/">< MAIN MENU</a></h1>

			<div class="quiz_content">
				<p><h2>QUESTION 1</h2></p>
				<p>WHAT WOULD YOU USE TO PROTECT YOURSELF?</p>

				<!-- Test Area -->
				<div class="col-xs-6 col-md-3">
					  <form action=""><button name="btn1" class="numberbutton" ng-click="output = output + 1">FLAME THROWER</button></form></div>
				  
				  <div class="col-xs-6 col-md-3">
					  <form action=""><button name="btn1" class="numberbutton" ng-click="output = output + 2">FLAME THROWER</button></form></div>
				  
				  <div class="col-xs-6 col-md-3">
					  <form action=""><button name="btn1" class="numberbutton" ng-click="output = output + 3">FLAME THROWER</button></form></div>
				  
				  <div class="col-xs-6 col-md-3">
					  <form action=""><button name="btn1" class="numberbutton" ng-click="output = output + 4">FLAME THROWER</button></form></div>
				  	{{output}}

			</div>

			</div>
			<div class="clearfix"></div>
				<a class="whitebutton" href="#/q2">NEXT</a>
				
				<button class="plusOne">+1</button>
				<button class="plusTwo">+2</button>
				<button class="plusThree">+3</button>
				<button class="plusFour">+4</button>
		</div>
	</section>